<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
    <script>
        function deleteZuanji(id) {
            $.ajax({
                url:"__MODULE__/Index/delete",
                data:{id:id,
                    table:'collect_zuanji'
                },
                type:'POST',
                datatype:'JSON',
                success:function(result){
                    $("#showZuanji").html(result);
                }
            });
        }
    </script>
</head>
<body>
<p>专辑信息</p>
<table border="1">
    <tr>
        <th>专辑编号</th>
        <th>发行日期</th>
        <th>歌手名</th>
        <th>用户</th>
    </tr>
    <volist name="data" id="vo">
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.date}</td>
            <td>{$vo.man_name}</td>
            <td>{$vo.user}</td>
            <td><button onclick="deleteZuanji({$vo.id})" >删除</button></td>
        </tr>
    </volist>
</table>
</body>
</html