<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
    <script>
        function deleteMan(id) {
            $.ajax({
                url:"__MODULE__/Index/delete",
                data:{id:id,
                    table:'collect_man'
                },
                type:'POST',
                datatype:'JSON',
                success:function(result){
                    $("#showMan").html(result);
                }
            })
        }
    </script>
</head>
<body>
<p>歌手信息</p>
<table border="1">

    <tr>
        <th>歌手编号</th>
        <th>歌手名</th>
        <th>性别</th>
        <th>歌手地区</th>
        <th> 所属公司</th>
        <th>用户</th>
    </tr>
    <volist name="data" id="vo">
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.name}</td>
            <td>{$vo.sex}</td>
            <td>{$vo.area}</td>
            <td>{$vo.company}</td>
            <td>{$vo.user}</td>
            <td><button onclick="deleteMan({$vo.id})" >删除</button></td>
        </tr>
    </volist>
</table>
</body>
</html>