<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="__URL__/add" method="post">
    <table  align="center" valign="middle">
        <tr>
            <td  align="center" valign="middle">用户名:<input type="text" name="name"></td>
        </tr>
        <tr>
            <td  align="center" valign="middle">
                密码：         <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td  align="center" valign="middle"><input type="submit" value="注册"></td>
            <td  align="center" valign="middle"><input type="reset" value="重置"></td>
        </tr>
    </table>
</form>
</body>
</html>