<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>前台</title>
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>

</head>
<body>

<table border="1" align="center" valign="middle">
    <tr>
    <td>歌手</td>
    <td>歌曲</td>
    <td>专辑名称</td>
    <td>用户名</td>
    </tr>
<volist name="data" id="vo">
        <tr>
            <td>{$vo.man}</td>
            <td>{$vo.song}</td>
            <td>{$vo.zuanji}</td>
            <td>{$vo.user}</td>
        </tr>
</volist>
</table>

<!--
<form action="__URL__/search" method="post">
    <input type="text" name="search">
    <input type="submit" value="搜索">
</form>

-->

</body>
</html>