<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>歌手</title>
</head>
<body>
<p>歌手信息</p>
<table border="1">

    <tr>
        <td>歌手编号</td>
        <td>歌手名</td>
        <td>性别</td>
        <td>歌手地区</td>
        <td> 所属公司</td>
    </tr>
    <volist name="data" id="vo">
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.name}</td>
            <td>{$vo.sex}</td>
            <td>{$vo.area}</td>
            <td>{$vo.company}</td>
            <td><a href="{:U('collect','key=man&value='.$vo['name'])}">收藏</a></td>
        </tr>
    </volist>
</table>

</body>
</html>