<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专辑信息</title>
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
</head>
<body>
<p>专辑信息</p>
<table border="1">
    <tr>
        <td>专辑编号</td>
        <td>发行日期</td>
        <td>歌手名</td>
    </tr>
<volist name="data" id="vo">
    <tr>
        <td>{$vo.id}</td>
        <td>{$vo.date}</td>
        <td>{$vo.man_name}</td>
        <td><a href="{:U('collect','key=zuanji&value='.$vo['zuanji'])}">收藏</a></td>
    </tr>
</volist>
</table>
</body>
</html>